<div class="container">   
    <div class="row">
        <div class="col-md-4">
            <mat-card class="example-card">
                <mat-card-header>
                    
                </mat-card-header>
                <img mat-card-image src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/los-mejores-restaurantes-que-tienes-que-probar-en-madrid-1644914076.jpeg?crop=1024,578.318,x0,y0,safe&width=1600&auto=webp&optimize=medium&io=1" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <mat-card-title>Resturant nombre</mat-card-title>
                    <mat-card-subtitle>Gran via 2</mat-card-subtitle>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>RESERVAR</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="example-card">
                <mat-card-header>
                    
                </mat-card-header>
                <img mat-card-image src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/los-mejores-restaurantes-que-tienes-que-probar-en-madrid-1644914076.jpeg?crop=1024,578.318,x0,y0,safe&width=1600&auto=webp&optimize=medium&io=1" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <mat-card-title>Resturant nombre</mat-card-title>
                    <mat-card-subtitle>Gran via 2</mat-card-subtitle>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>RESERVAR</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="example-card">
                <mat-card-header>
                    
                </mat-card-header>
                <img mat-card-image src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/los-mejores-restaurantes-que-tienes-que-probar-en-madrid-1644914076.jpeg?crop=1024,578.318,x0,y0,safe&width=1600&auto=webp&optimize=medium&io=1" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <mat-card-title>Resturant nombre</mat-card-title>
                    <mat-card-subtitle>Gran via 2</mat-card-subtitle>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>RESERVAR</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="example-card">
                <mat-card-header>
                    
                </mat-card-header>
                <img mat-card-image src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/los-mejores-restaurantes-que-tienes-que-probar-en-madrid-1644914076.jpeg?crop=1024,578.318,x0,y0,safe&width=1600&auto=webp&optimize=medium&io=1" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <mat-card-title>Resturant nombre</mat-card-title>
                    <mat-card-subtitle>Gran via 2</mat-card-subtitle>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>RESERVAR</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-sm-12 col-md-4">
            <mat-card class="example-card">
                <mat-card-header>
                    
                </mat-card-header>
                <img mat-card-image src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/los-mejores-restaurantes-que-tienes-que-probar-en-madrid-1644914076.jpeg?crop=1024,578.318,x0,y0,safe&width=1600&auto=webp&optimize=medium&io=1" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <mat-card-title>Resturant nombre</mat-card-title>
                    <mat-card-subtitle>Gran via 2</mat-card-subtitle>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>RESERVAR</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
